<div class="top-bar flex flex-jc-sb">
    <a href="/" class="flex flex-ai-c">여기에 로고</a>
    <!-- <nav class="menu-box-1 flex">
        <ul>
            <li class="flex"><a href="../standard.html" class="flex flex-ai-c">일반</a></li>
            <li class="flex"><a href="../fiction.html" class="flex flex-ai-c">소설</a></li>
            <li class="flex"><a href="../webtoon.html" class="flex flex-ai-c">웹툰</a></li>
            <li class="flex"><a href="../romance.html" class="flex flex-ai-c">로맨스</a></li>
            <li class="flex"><a href="../cartoon.html" class="flex flex-ai-c">만화</a></li>
            <li class="flex"><a href="../fantasy.html" class="flex flex-ai-c">판타지</a></li>
        </ul>
    </nav>

    <nav class="menu-box-2 flex">
        <ul>
            <li class="flex"><a href="../login.html" class="flex flex-ai-c">로그인</a></li>
            <li class="flex"><a href="../join.html" class="flex flex-ai-c">회원가입</a></li>
        </ul>
    </nav> -->
    {% include nav.html %} 
</div>
    <div class="box-1">
</div>

