<div class="navbar">
    <a href="/" id="logo">
        <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbelPXk%2Fbtq3htE0CuW%2F20UUE0cydRQEDvD6wlEL1K%2Fimg.png" height="60">
    </a>

    <ul id="menu">
        <li><a href="./standard.html"><b>일반</b></a></li>
        <li><a href="./fiction.html"><b>소설</b></a></li>
        <li><a href="./webtoon.html"><b>웹툰</b></a></li>
        <li><a href="./romance.html"><b>로맨스</b></a></li>
        <li><a href="./cartoon.html"><b>만화</b></a></li>
        <li><a href="./fantasy.html"><b>판타지</b></a></li>
    </ul>
</div>

<nav class="menu-box-2 flex">
    <ul>
        <li class="flex"><a class="flex flex-ai-login login-tab" href="../login.html">로그인</a></li>
        <li class="flex"><a class="flex flex-ai-login login-tab" href="../join.html">회원가입</a></li>
    </ul>
</nav>
</body>
</html>

