
  a {
    text-decoration: none;
    color: #333;
  }

  body {
    display : flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.4;
    font-family: "Roboto", "Noto Sans KR", "PingFang SC", "Apple SD Gothic Neo", "Microsoft YaHei UI", "Malgun Gothic", sans-serif;
    min-width: 1350px;
    color: #000;
}

  html, body{
    height:100%;
  }
  .flex-container {
    display : flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 0;
  }
  .top-bar{
    display: flex;
    background-color: white;
    height: 100px;
    color: black;
    padding-left: 150px;
    padding-right: 150px;

  }
  .top-bar .menu-box-1 > ul{
    display:flex;
  }
  .top-bar .menu-box-2 > ul{
    display:flex;
  }
  .flex{
    display : flex;
  }
  .flex-ai-c{
    align-items: center;
    margin:  0 40px;
    font-size: 14px;
    color: black;
  }

  .flex-ai-login{
    margin:  0 10px;
    font-size: 14px;
    color: rgb(102, 98, 98);
  }
  .flex-ai-c:hover{
    color: green;
    transition: all .3s ease-in-out;
  }
  .flex-ai-login:hover{
    color: #fff;
    transition: all .3s ease-in-out;
  }
  .flex-jc-sb{
    justify-content: space-between
  }
  footer{
    background-color: lightgray;
  }

  /*
    login style
  */
  article {
    display: block;
  }
  #content {
      position: relative;
      width: 650px;
      margin: 0 auto 100px;
      padding: 60px;
      box-sizing: border-box;
      background: #fff;
      box-shadow: 10px 10px 20px rgb(0 0 0 / 5%);
  }
  form {
      display: block;
      margin-top: 0em;
  }
  ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
  }
  li {
      display: list-item;
      text-align: -webkit-match-parent;
  }
  #login_button button {
      position: relative;
      width: 100%;
      line-height: 60px;
      font-size: 18px;
      color: #fff;
      background: #10c461;
      text-align: center;
      margin: 20px 0 0;
      cursor: pointer;
      border: #10c461;
  }
  button {
        appearance: auto;
        writing-mode: horizontal-tb !important;
    
        text-rendering: auto;
        color: buttontext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        background-color: antiquewhite;
        margin: 0em;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: buttonborder;
        border-image: initial;
  }
  #join_button a{
      display: block;
      line-height: 50px;
      text-align: center;
      border: 1px solid #ddd;
      transition: all .3s;
  }
.container {
  text-align: center;
}


.inner {
  position: relative;
  width: 600px;
  height: 40px;
  margin: 20px auto;
  border: 1px solid #bdc1c6;
  border-radius: 20px;
}

input {
  width: 90%;
  height: 100%;
  border-color: #bdc1c6;
  border: 0px;
  font-size: 16px;
  outline: none;
}

.searching {
  position: absolute;
  left: 10px;
  top: 20%;
}

i:hover {
  cursor: pointer;
}

.icon_ect {
  position: absolute;
  right: 10px;
  top: 20%;
}

.fa-keyboard {
  margin-right: 10px;
}

.weegle_inner {
  width: 160px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 0px;
  vertical-align: middle;
}

.weegle_inner:hover {
  cursor: pointer;
}

footer {
  margin-top: 10px;
  font-weight: bold;
}

a {
  text-decoration: none;
}


@media (max-width:1250px) {
    .flex-ai-c{
      align-items: center;
      margin:  0 15px;
      font-size: 13px;
    }
}
@media (max-width:1050px) {
  .flex-ai-c{
    align-items: center;
    margin:  0 10px;
    font-size: 14px;
  }
}

@media (max-width:850px) {
  .flex-ai-c{
    align-items: center;
    margin:  0 10px;
    font-size: 14px;
  }
}
@media (max-width:850px) {
  .login-tab{
  display: none;
  }
}
@media (max-width:710px) {
  .logo-tab{
    display: none;
  }
}
@media (max-width:610px) {
  .flex-ai-c{
    align-items: center;
    margin:  0 7px;
    font-size: 12px;
  }
}

@media (max-width:560px) {
  .flex-ai-c{
    align-items: center;
    margin:  0 6px;
    font-size: 10px;
  }
}


#logo {
  width: 100px;
  height: 100px;
}

/*index 슬라이드 구현*/
#index-slide {
  width: 1207px;
  height : 340px;
  justify-content: center;
}
.banner-container{
  width:1200px;
  height:340px;
  /* overflow:hidden; */
}
.banner{
  width:1207px;
  height:100%;
  display:flex;
  animation: animation1 10s infinite;
  /*기본 전환 animation을 위한 설정*/
  -webkit-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
  -moz-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
  -o-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
  -ms-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
  transition: all 0.5s cubic-bezier(1, .01, .32, 1);
}
.banner>div{
  width:100vw;
  height:600px;
}
.banner>div:nth-child(1){
  background-color:white;
}
.banner>div:nth-child(2){
  background-color: white;;
}
.banner>div:nth-child(3){
  background-color:white;;
}
.banner>div:nth-child(4){
  background-color: white;;
}
.list-button{
  width:100%;
  height:10px;
  display:flex;
  justify-content:center;
  margin-top:-30px;
  position:absolute;
  z-index:2;
}
.list-button-item{
  width:10px;
  height:10px;
  border-radius:5rem;
  background-color:black;
  cursor: pointer;
  display: inline-block;
  margin:6px;
}
.list-button-item.active{
  background-color:white;
}
@keyframes animation1 {
  0% {margin-left: 0}
  20% {margin-left: 0}
  25% {margin-left: -100%}
  45% {margin-left: -100%}
  50% {margin-left: -200%}
  70% {margin-left: -200%}
  75% {margin-left: -300%}
  95% {margin-left: -300%}
  100% {margin-left: 0}
}
@keyframes animation2 {
  0% {margin-left: -100%}
  20% {margin-left: -100%}
  25% {margin-left: -200%}
  45% {margin-left: -200%}
  50% {margin-left: -300%}
  70% {margin-left: -300%}
  75% {margin-left: 0}
  95% {margin-left: 0}
  100% {margin-left: -100%}
}
@keyframes animation3 {
  0% {margin-left: -200%}
  20% {margin-left: -200%}
  25% {margin-left: -300%}
  45% {margin-left: -300%}
  50% {margin-left: 0}
  70% {margin-left: 0}
  75% {margin-left: -100%}
  95% {margin-left: -100%}
  100% {margin-left: -200%}
}
@keyframes animation4 {
  0% {margin-left: -300%}
  20% {margin-left: -300%}
  25% {margin-left: 0}
  45% {margin-left: 0}
  50% {margin-left: -100%}
  70% {margin-left: -100%}
  75% {margin-left: -200%}
  95% {margin-left: -200%}
  100% {margin-left: -300%}
}

