.navbar{
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;

}

.hero-header{
    height: 450px;
    background-image: url("http://image.kyobobook.co.kr/newimages/adcenter/IMAC/creatives/2023/05/22/70949/i_1624_450.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
    
.navbar #logo{
    line-height: 60px;
}

.navbar img{
    vertical-align: top;
    border: blanchedalmond 5px solid;
}

.navbar #menu{
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar #menu li{
    float: left;
    margin-left: 50px;
    line-height: 60px;
}

.navbar #menu li a{
    color: #545454;
    font-size: 13px;
    text-decoration: none;
}
.product-list{
    width: 735px;
    margin-left: auto;
    margin-right: auto;
}
.products h3{
    font-size: 24px;
    color: #545454;
    margin-top:60px;
    margin-bottom: 60px;
    text-align: center;
}

.product{
    display: block;
    width: 225px;
    text-align: center;
    text-decoration:none;
    color: black;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.product-name{
    margin-top: 20px;
    margin-bottom: 4px;
}

.clearfix{
    clear: both;
}
.footer{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration:none;
}
.prodDt_price p span {
    margin-left: 3px;
    min-width: 57px;
    font-size: 14px;
    color: #000;
    text-align: right;
    letter-spacing: -0.5px;
}
.prodDt_price p {
    display: flex;
    align-items: center;
    line-height: 20px;
}